html {
    font-family: 'Berlin Sans FB', "Be Vietnam", sans-serif, Arial;
  }
  
  .picLinks {
    width: 2em;
    height: 2em;
    float: right;
    margin-right: 2em;
  }

  .opvuller {
    grid-area: opvuller;
    color: transparent;
  }

  .sportFoto  {
    margin: 1em;
  }

  #foto {
    grid-area: wit;
  }

  .scnd_Foto  {
    width: 49%;
    height: 49%;
    margin-top: 10em;
    margin-bottom: -8em;
    margin-left: 4em;
  }
  
  .logo {
    grid-area: logo;
    align-self: center;
  }
  
  #Main {
    grid-area: Main;
    margin-top: 2%;
  }
  
  #Secondary {
    grid-area: Secondary;
  }
  
  #sport {
    grid-area: sport;
  }
  
  #sidebar {
    grid-area: sidebar;
    padding: 1em;
    margin-right: 6em;
  }
  
  #contact {
    grid-area: contact;
    margin-bottom: 0.5em;
  }
  
  #footer {
    grid-area: footer;
    background-color: #444444;
    color: #aaaaaa;
    margin: -2em;
  }
  
  #Voet {
    margin-left: 2em;
  }
  
  /*Laat zien hoe de grid eruit moet zien.*/
  .container {
    color: #f5f5f5;
    display: grid;
    margin: 0 2em;
    margin-top: 4%;
    grid-template-columns: 2fr 6fr 4fr;
    grid-gap: 2em 1em;
    grid-template-rows: 3em;
    grid-template-areas:
      "logo menu menu"
      "sidebar Main Main"
      "wit Secondary Secondary"
      "sport sport sport"
      "contact contact opvuller"
      "footer footer footer";
  }

  .container a{
    color: #FFFFFF;
  }
  
  /*Alles met "Nav" is voor de navigatiebalk.*/
  .Nav {
    background-color: #2699fb;
    position: fixed;
    top: 1em;
  }
  
  .Nav,
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    grid-area: menu;
    align-self: center;
    justify-self: end;
  }
  
  img {
    width: 5em;
    height: 5em;
  }
  
  .navList {
    float: left;
  }
  
  .navList a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
  }
  
  .navList a:hover {
    background-color: #444444;
  }

  #bericht {
    size: 50;
    height: 4em;
  }

  ol {
    text-decoration: none;
    list-style: none;
  }