html {
    font-family: "Be Vietnam", sans-serif;
  }
  
  .picLinks {
    width: 2em;
    height: 2em;
    float: right;
    margin-right: 1em;
  }
  
  .logo {
    grid-area: logo;
    align-self: center;
  }
  
  #Main {
    grid-area: Main;
    margin-top: 2%;
  }
  
  #Secondary {
    grid-area: Secondary;
  }
  
  #sport {
    grid-area: sport;
  }
  
  #sidebar {
    grid-area: sidebar;
    padding: 1rem;
  }
  
  #contact {
    grid-area: contact;
    margin-bottom: 0.5em;
  }
  
  #footer {
    grid-area: footer;
    background-color: #444444;
    color: #aaaaaa;
    margin: -2em;
  }
  
  #Voet {
    margin-left: 0.5em;
  }
  
  .container {
    display: grid;
    margin: 0 2rem;
    margin-top: 4%;
    grid-template-columns: 2fr 6fr 4fr;
    grid-gap: 2rem 1rem;
    grid-template-rows: 3rem;
    grid-template-areas:
      "logo menu menu"
      "Main Main sidebar"
      "Secondary Secondary Secondary"
      "sport sport sport"
      "contact contact contact"
      "footer footer footer";
  }
  
  .Nav {
    background-color: #2699fb;
  }
  
  .Nav,
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    grid-area: menu;
    align-self: center;
    justify-self: end;
  }
  
  img {
    width: 5em;
    height: 5em;
  }
  
  .navList {
    float: left;
  }
  
  .navList a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navList a:hover {
    background-color: #444444;
  }