html {
    font-family: 'Be Vietnam', sans-serif;
}

.logo {
    grid-area: logo;
    align-self: center;
  }

.Main {
    grid-area: Main;
  }

.Secondary {
    grid-area: Secondary;
}

.sport {
    grid-area: sport;
}

.sidebar {
    grid-area: sidebar;
    padding: 1rem;
}

.contact {
    grid-area: contact;
}

.footer{
    grid-area: footer;
}


.container {
    display: grid;
    margin: 0 2rem;
    margin-top: 2%;
    grid-template-columns: 2fr 6fr 4fr;
    grid-gap: 2rem 1rem;
    grid-template-rows: 3rem;
    grid-template-areas: 
    "logo menu menu"
    "Main Main sidebar"
    "Secondary Secondary Secondary"
    "sport sport sport"
    "contact contact contact"
    "footer footer footer"
  }


.Nav{
    background-color: #2699FB;
}

.Nav, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    grid-area: menu;
    align-self: center;
    justify-self: end;
}

img {
    width: 5em;
    height: 5em;
}
  
.navList {
    float: left;
}
  
.navList a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navList a:hover {
    background-color: #444444;
}

