html {
    font-family: 'Be Vietnam', sans-serif;
}

.logo {
    grid-area: logo;
  }

.Main {
    grid-area: content;
  }

.Secondary {
    grid-area: content;
}

.sport {
    grid-area: content;
}

.sidebar {
    grid-area: sidebar;
}

.footer{
    grid-area: footer;
}

.container {
    display: grid;
    margin: 0 2rem;
    grid-template-columns: 2fr 6fr 4fr;
    grid-gap: 2rem 1rem;
  }


.Nav{
    background-color: #2699FB;
}

.Nav, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

img {
    width: 5em;
    height: 5em;
}
  
.navList {
    float: left;
}
  
.navList a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navList a:hover {
    background-color: #444444;
}

